body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
}

.container {
    box-sizing: border-box;
    width: 1024px;
    background: rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.container p {
	font-family: 'Pacifico', cursive;
	color: #ffffff;
	padding: 16px 0 20px 14px;
	font-size: 24px;
}

.container p span {
	color: #00bac6;
}

header .container .socio img {
	width: 23px;
	height: 23px;
	padding: 16px 8px 17px 15px;
}

.logo p {
	text-decoration: none;
}

nav .container ul li a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #8b8b8b;
}

nav .container ul li {
	display: inline-block;
	padding: 30px 19px 30px 11px;
	margin: 10px 8px 5px 0;
}

nav .container ul li a:hover {
	color: #00bac6;
	border-bottom: 2px solid #00bac6;
	color: #00bac6;
	padding-bottom: 30px;
}
